html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  line-height: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: system-ui, Roboto;
  color: #292d32;
}

body {
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

.title {
  font-size: 50px;
  font-weight: 400;
}

.description {
  color: #838383;
  font-size: 18px;
  font-weight: 300;
}

.regular-text {
  font-size: 25px;
  font-weight: 400;
}

.button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  transform: translateX(15px);
}
.button .icon_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #33a9ff;
}

.wrapper {
  padding-left: 260px;
  padding-right: 260px;
}

@media (max-width: 375px) {
  * {
    font-size: 15px;
  }
  .wrapper {
    padding: 0 15px;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 15px;
  }
  .regular-text {
    font-size: 20px;
  }
  .button {
    justify-content: flex-start;
    width: auto;
    gap: 15px;
  }
  .button .icon_blue {
    width: 45px;
    height: 45px;
  }
}
.header {
  width: 1920px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 123px;
  background-color: #ffffff;
}
.header__icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 45px;
  background-color: #f9f9f9;
  cursor: pointer;
}
.header__icon-item:hover {
  background-color: #e0e0e0;
}
.header__left-container {
  display: flex;
  gap: 60px;
}
.header__logo {
  width: 70px;
  height: 70px;
}
.header__nav {
  display: flex;
  gap: 45px;
}
.header__nav-container {
  display: flex;
  gap: 50px;
}
.header__nav-item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.header__nav-item a:hover {
  color: #33a9ff;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search a {
  display: flex;
}
.header__tools {
  display: flex;
  gap: 30px;
}
.header__tools-container {
  position: relative;
}
.header__toggle-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 49px;
  height: 87px;
}
.header__toggle-menu-container {
  position: absolute;
  display: none;
  top: 85px;
  left: -176px;
  width: 405px;
  background-color: #ffffff;
  filter: drop-shadow(0px 14px 75px rgba(0, 0, 0, 0.13));
  border-radius: 20px;
}
.header__toggle-menu-container::-webkit-scrollbar {
  width: 0;
}
.header__toggle-menu-container a:hover {
  color: #33a9ff;
}
.header__toggle-menu-container::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 48%;
  top: -8px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.header__toggle-menu-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.header__toggle-menu-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.header__toggle-menu-item, .header__toggle-menu-exit {
  padding: 20px 30px;
}
.header__toggle-menu-top span, .header__toggle-menu-item a, .header__toggle-menu-exit a {
  color: #000000;
  font-size: 20px;
  line-height: 150%;
}
.header__toggle-menu-item {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
.header__busket-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  left: 30px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #48a4eb;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
.header__burger-menu_overlay {
  display: flex;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(63, 63, 63, 0.5);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.header__burger-menu_overlay.hidden {
  opacity: 0;
  z-index: -10;
}
.header__burger-menu-button {
  display: none;
}
.header__burger-menu-lines, .header__burger-menu-lines::before, .header__burger-menu-lines::after {
  position: absolute;
  height: 1.5px;
  width: 18px;
  background: #292d32;
  transition: 0.3s;
}
.header__burger-menu-lines::before {
  content: "";
  top: 8px;
}
.header__burger-menu-lines::after {
  content: "";
  bottom: 8px;
}
.header__burger-menu-lines {
  top: 50%;
}
.header__burger-menu-lines_rotate {
  background-color: transparent;
}
.header__burger-menu-lines_rotate::before {
  top: 0;
  transform: rotate(-45deg);
}
.header__burger-menu-lines_rotate::after {
  bottom: 0;
  transform: rotate(45deg);
}

@media (max-width: 375px) {
  .header {
    width: 375px;
  }
  .header__container {
    position: relative;
    max-width: 375px;
    max-height: 90px;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }
  .header__logo img {
    width: 60px;
    height: 60px;
  }
  .header__nav {
    z-index: 3;
    position: fixed;
    flex-direction: column;
    top: 90px;
    left: 0;
    width: 100%;
    max-height: 390px;
    padding-left: 38px;
    padding-top: 56px;
    background-color: #fff;
    padding-bottom: 64px;
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }
  .header__nav.hidden {
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__search img {
    width: 20px;
    height: 20px;
  }
  .header__tools {
    gap: 15px;
  }
  .header__tools-item {
    width: 46px;
    height: 46px;
  }
  .header__tools-item:first-child img {
    width: 17.44px;
    height: 18.92px;
  }
  .header__tools-item:nth-child(4) img {
    width: 24.49px;
    height: 24.49px;
  }
  .header__tools-item_mb-hide {
    display: none;
  }
  .header__toggle-menu {
    display: none;
  }
  .header__burger-menu-button {
    display: flex;
  }
}
.slider {
  width: 1920px;
  display: flex;
  justify-content: center;
  position: relative;
}
.slider__container, .slider__left, .slider__right, .slider__scroll, .slider__description {
  display: flex;
}
.slider__container {
  width: 1920px;
  height: 683px;
}
.slider__left {
  background-color: #f2f2f2;
  padding-left: 260px;
  background-image: url(./../assets/imgs/Dell.png);
  background-repeat: no-repeat;
  background-position: top 97.4px left 260px;
}
.slider__scroll {
  width: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 158px;
}
.slider__scroll-description {
  font-size: 16px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.slider__scroll img {
  padding-top: 55px;
}
.slider__description {
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 105px;
  padding-bottom: 158px;
  gap: 60px;
}
.slider__description-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.slider__description-top-title {
  width: 425px;
}
.slider__button {
  width: 150px;
}
.slider__controls-items {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 609px;
  overflow: hidden;
}
.slider__controls-item {
  padding-right: 60px;
  padding-bottom: 41px;
  transition: all 0.6s ease-in-out;
}
.slider__controls-item_hide {
  opacity: 0;
}
.slider__controls-paggination {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 80px;
  bottom: 163px;
  right: 364.5px;
}
.slider__controls-paggination-dots {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider__controls-paggination-dot {
  display: block;
  height: 5px;
  width: 5px;
  background-color: #d0d0d0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slider__controls-paggination-dot_active {
  width: 9px;
  height: 9px;
  background-color: #292d32;
}
.slider__controls-paggination-dot:hover {
  transform: scale(1.5);
  background-color: #33a9ff;
}
.slider__controls-paggination-next {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.slider__controls-paggination-next:hover {
  transform: translate(5px);
}
.slider__right {
  width: 590px;
  background: #f9f9f9;
  background-image: url(./../assets/imgs/image_23.png);
  background-repeat: no-repeat;
}
.slider__right-container {
  display: flex;
  width: 100%;
  padding-right: 260px;
  align-items: flex-end;
  padding-bottom: 266px;
  padding-left: 40px;
}
.slider__right-container span {
  display: flex;
  max-width: 181px;
  line-height: 32.5px;
}

@media (max-width: 375px) {
  .slider {
    width: 375px;
  }
  .slider__container, .slider__left, .slider__right, .slider__scroll, .slider__description {
    flex-direction: column;
  }
  .slider__container {
    width: 375px;
    height: auto;
  }
  .slider__left {
    padding: 0;
    background-position: top 32px left 18px;
    background-size: 293px;
  }
  .slider__scroll {
    display: none;
  }
  .slider__description {
    padding-left: 15px;
    padding-top: 80px;
    padding-bottom: 0;
    gap: 28px;
  }
  .slider__description-top-title {
    width: 239px;
  }
  .slider__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .slider__controls-items {
    width: 327px;
  }
  .slider__controls-item {
    width: 100%;
    padding: 0;
  }
  .slider__controls-paggination {
    right: 15px;
    bottom: 20px;
    gap: 39px;
  }
  .slider__controls-paggination-dot {
    width: 3px;
    height: 3px;
  }
  .slider__controls-paggination-dot_active {
    width: 5px;
    height: 5px;
  }
  .slider__controls-paggination-next img {
    width: 64px;
    height: 14px;
  }
  .slider__right {
    background-image: url(./../assets/imgs/image_23_mob.png);
    background-size: 252px;
    background-position: 118px 15px;
    width: auto;
  }
  .slider__right-container {
    padding: 59px 15px;
    width: auto;
  }
}
.catalog {
  width: 1920px;
}
.catalog__container {
  margin-top: 168px;
}
.catalog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.catalog__item {
  position: relative;
  display: flex;
  width: 440px;
  height: 371px;
}
.catalog__item-description {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-top: 10px;
}
.catalog__item-description-top {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.catalog__item-description-title {
  max-width: 372px;
}
.catalog__item-description-description {
  max-width: 323px;
}
.catalog__item:nth-child(2) .catalog__item-card-img {
  top: -10px;
  left: 12px;
}
.catalog__item:nth-child(3) .catalog__item-card-img {
  top: -21px;
  left: 115px;
}
.catalog__item:nth-child(4) .catalog__item-card-img {
  top: 81px;
  left: 51px;
}
.catalog__item:nth-child(5) .catalog__item-card-img {
  top: 59px;
  left: 75px;
}
.catalog__item:nth-child(6) .catalog__item-card-img {
  top: 38px;
  left: 87px;
}
.catalog__item-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  border-radius: 20px;
  width: 100%;
  background: #f2f2f2;
  cursor: pointer;
}
.catalog__item-card-inner:hover .catalog__item-card-img {
  transform: scale(1.1);
}
.catalog__item-card-count {
  font-size: 25px;
  font-weight: 100;
}
.catalog__item-card-img {
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.catalog__item-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 375px) {
  .catalog {
    width: 375px;
  }
  .catalog__container {
    margin-top: 120px;
  }
  .catalog__items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .catalog__item {
    height: 290.898px;
    width: 100%;
  }
  .catalog__item-card-inner {
    padding: 20px;
  }
  .catalog__item:nth-child(2) .catalog__item-card-img {
    width: 302px;
    top: 15px;
    left: 21px;
  }
  .catalog__item:nth-child(3) .catalog__item-card-img {
    width: 210px;
    top: 10.5px;
    left: 99px;
  }
  .catalog__item:nth-child(4) .catalog__item-card-img {
    width: 264.24px;
    top: 63.51px;
    left: 39.99px;
  }
  .catalog__item:nth-child(5) .catalog__item-card-img {
    width: 226.6px;
    top: 46.26px;
    left: 58.81px;
  }
  .catalog__item:nth-child(6) .catalog__item-card-img {
    width: 253.26px;
    top: 29.9px;
    left: 68.22;
  }
}
.advantages {
  width: 1920px;
}
.advantages__container {
  margin-top: 180px;
  background-image: url(./../assets/imgs/best_quality.png);
  background-repeat: no-repeat;
  background-position: top 152px left 10px;
  background-color: #f2f2f2;
}
.advantages__top-container {
  display: flex;
  padding-top: 87px;
}
.advantages__top-img {
  position: relative;
  left: -80px;
}
.advantages__top-img-container {
  width: 50%;
}
.advantages__description {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-top: 96px;
}
.advantages__description-top {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.advantages__button {
  width: 193px;
}
.advantages__items {
  display: flex;
  gap: 27px;
  padding-top: 48px;
  padding-bottom: 46px;
}
.advantages__item {
  display: flex;
  width: 330px;
  height: 289px;
}
.advantages__item-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #292d32;
  background-image: url(./../assets/imgs/Vector_34.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  border-radius: 20px;
  padding: 30px;
}
.advantages__item-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: #343a41;
}
.advantages__item-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.advantages__item-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.advantages__item-description {
  color: #b7b7b7;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 375px) {
  .advantages {
    overflow: hidden;
    width: 375px;
  }
  .advantages__container {
    background-size: 335px;
    background-position: top 373px left 14px;
    margin-top: 120.1px;
  }
  .advantages__top-container {
    flex-direction: column-reverse;
    padding-top: 101px;
  }
  .advantages__top-img {
    width: 345px;
    left: 61px;
    top: -26px;
  }
  .advantages__top-img-container {
    width: 50%;
  }
  .advantages__description {
    padding-top: 0;
  }
  .advantages__items {
    padding-top: 40px;
    padding-bottom: 115px;
    flex-direction: column;
    gap: 17px;
  }
  .advantages__item {
    width: 345px;
    height: 214px;
  }
  .advantages__item-container {
    padding: 15px;
    gap: 15px;
    border-radius: 10px;
  }
  .advantages__item-img {
    width: 31px;
    height: 31px;
  }
  .advantages__item-img-container {
    width: 50px;
    height: 50px;
  }
  .advantages__item-text {
    gap: 10px;
  }
  .advantages__item-title {
    font-size: 18px;
  }
  .advantages__item-description {
    font-size: 16px;
  }
}
.news {
  width: 1920px;
}
.news__container {
  margin-top: 172px;
}
.news__top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 70px;
}
.news__top-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.news__description {
  max-width: 706px;
}
.news__button {
  flex-direction: row-reverse;
  width: 165px;
  padding-top: 8px;
}
.news__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.news__item {
  width: 415px;
  height: 364px;
  background-size: auto 260px;
  background-repeat: no-repeat;
  border-radius: 45px 0px 45px 0px;
}
.news__item:nth-child(1) {
  background-image: url(./../assets/imgs/photo.png);
}
.news__item:nth-child(2) {
  background-image: url(./../assets/imgs/photo1.png);
}
.news__item:nth-child(3) {
  background-image: url(./../assets/imgs/photo2.png);
}
.news__item:nth-child(4) {
  background-image: url(./../assets/imgs/photo3.png);
}
.news__item:nth-child(5) {
  background-image: url(./../assets/imgs/photo4.png);
}
.news__item:nth-child(6) {
  background-image: url(./../assets/imgs/photo5.png);
}
.news__item-inner {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
}
.news__item-content {
  position: relative;
  width: 100%;
  height: 146px;
  background-image: url(./../assets/icons/frame.svg);
  background-position: right;
}
.news__item-text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 30px;
}
.news__item-title {
  max-width: 268px;
  font-size: 25px;
  font-weight: 700;
}
.news__item-description {
  font-size: 14px;
  font-weight: 400;
}
.news__item-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 26px;
  width: 41px;
  height: 41px;
  background-color: #292d32;
  border-radius: 50%;
  border: 12px solid white;
}
.news__item-date {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 65px;
  right: -25px;
  width: 50px;
  height: 97px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
  font-size: 20px;
  font-weight: 900;
}
.news__item-date span {
  font-size: 10px;
  font-weight: 300;
}

@media (max-width: 375px) {
  .news {
    width: 375px;
  }
  .news__container {
    margin-top: 120px;
  }
  .news__top-container {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .news__top-text {
    gap: 20px;
  }
  .news__button {
    padding-top: 30px;
  }
  .news__items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .news__item {
    width: 324px;
    height: 293px;
  }
  .news__item:nth-child(2) {
    display: none;
  }
  .news__item:nth-child(3) {
    display: none;
  }
  .news__item:nth-child(6) {
    display: none;
  }
  .news__item-content {
    height: 143px;
  }
  .news__item-text {
    padding: 20px;
  }
  .news__item-arrow {
    top: 10px;
    right: 28px;
    width: 35px;
    height: 35px;
  }
  .news__item-date {
    width: 39.41px;
    height: 76.057px;
    font-size: 18px;
  }
  .news__item-date span {
    font-size: 15px;
    overflow: hidden;
    max-width: 27px;
  }
}
.contacts {
  width: 1920px;
  background: linear-gradient(to bottom, white 346px, #eeeeee 0%);
}
.contacts__container {
  margin-top: 180px;
  background-image: url(./../assets/imgs/our_contacts.png);
  background-repeat: no-repeat;
  background-position: top 530px left 0;
  padding-bottom: 180px;
}
.contacts__content {
  position: relative;
  display: flex;
}
.contacts__content-img {
  position: absolute;
  top: 142px;
  left: 492px;
}
.contacts__content-left, .contacts__content-right {
  width: 700px;
}
.contacts__content-left-container, .contacts__content-right-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.contacts__content-left-top, .contacts__content-right-top {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacts__content-left-top-decription, .contacts__content-right-top-decription {
  font-size: 16px;
  font-weight: 400;
}
.contacts__content-left-center, .contacts__content-right-center {
  display: flex;
  flex-direction: column;
}
.contacts__content-left {
  background: #f9f9f9;
  border-radius: 20px 0px 0px 20px;
}
.contacts__content-left-center-location, .contacts__content-left-center-mail, .contacts__content-left-center-phone {
  display: flex;
  align-items: flex-start;
  gap: 17px;
}
.contacts__content-left-center-location-text, .contacts__content-left-center-mail-text, .contacts__content-left-center-phone-text {
  display: flex;
  flex-direction: column;
}
.contacts__content-left-center-location-text-title, .contacts__content-left-center-mail-text-title, .contacts__content-left-center-phone-text-title {
  font-weight: 400;
}
.contacts__content-left-center-location-text-description, .contacts__content-left-center-mail-text-description, .contacts__content-left-center-phone-text-description {
  font-size: 22px;
}
.contacts__content-left-center-location {
  padding-top: 48px;
}
.contacts__content-left-center-mail {
  gap: 18px;
  padding-top: 47px;
}
.contacts__content-left-center-phone {
  gap: 17.74px;
  padding-top: 72px;
}
.contacts__content-left-bottom {
  padding-top: 60px;
  display: flex;
  gap: 18.29px;
}
.contacts__content-right {
  background: #292d32;
  border-radius: 0 20px 20px 0;
}
.contacts__content-right-container {
  padding: 100px 129px;
}
.contacts__content-right-top-title {
  color: #ffffff;
}
.contacts__content-right-top-decription {
  color: #ffffff;
}
.contacts__content-right-center {
  padding-top: 53px;
}
.contacts__content-right-center-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts__content-right-center-form-name, .contacts__content-right-center-form-phone, .contacts__content-right-center-form-comment {
  position: relative;
}
.contacts__content-right-center-form label {
  z-index: 1;
  position: absolute;
  height: 27px;
  top: -10px;
  left: 15px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  background: #292d32;
  color: #f2f2f2;
}
.contacts__content-right-center-form input,
.contacts__content-right-center-form textarea {
  position: relative;
  box-sizing: border-box;
  width: 434px;
  height: 59.25px;
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
  background-color: inherit;
  color: #ffffff;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
}
.contacts__content-right-center-form textarea {
  height: 152px;
}
.contacts__content-right-bottom {
  padding-top: 57px;
}
.contacts__button span {
  color: #ffffff;
}

@media (max-width: 375px) {
  .contacts {
    width: 375px;
  }
  .contacts__container {
    margin-top: 120px;
    padding: 0;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts__content-img {
    top: 441px;
    left: 196px;
    height: 244.047px;
    transform: rotate(15deg);
  }
  .contacts__content-left, .contacts__content-right {
    width: auto;
    border-radius: 0;
  }
  .contacts__content-left-container {
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 60px;
  }
  .contacts__content-left-top {
    gap: 15px;
  }
  .contacts__content-left-center-location-text-title, .contacts__content-left-center-mail-text-title, .contacts__content-left-center-phone-text-title {
    font-size: 15px;
  }
  .contacts__content-left-center-location-text-description, .contacts__content-left-center-mail-text-description, .contacts__content-left-center-phone-text-description {
    font-size: 18px;
  }
  .contacts__content-left-center-location {
    padding-top: 40px;
  }
  .contacts__content-left-center-location img {
    width: 18.729px;
    height: 18.729px;
  }
  .contacts__content-left-center-mail {
    padding-top: 30.52px;
  }
  .contacts__content-left-center-mail img {
    width: 17.743px;
    height: 17.743px;
  }
  .contacts__content-left-center-phone {
    padding-top: 30px;
  }
  .contacts__content-left-center-phone img {
    width: 17.743px;
    height: 17.743px;
  }
  .contacts__content-left-bottom {
    gap: 12px;
  }
  .contacts__content-left-bottom img {
    width: 26.16px;
    height: 26.16px;
  }
  .contacts__content-right-container {
    padding: 60px 30px;
  }
  .contacts__content-right-top {
    gap: 15px;
  }
  .contacts__content-right-center {
    padding-top: 40px;
  }
  .contacts__content-right-center-form label {
    font-size: 15px;
  }
  .contacts__content-right-center-form input,
  .contacts__content-right-center-form textarea {
    width: 315px;
  }
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(./../assets/imgs/dell_footer.png);
  background-repeat: no-repeat;
  background-position: top 113px right -36px;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__content hr {
  width: 100%;
  border: 1px solid #e5e5e5;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer__content-top {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 180px;
}
.footer__content-top-item {
  font-size: 16px;
  font-weight: 300;
}
.footer__content-top-item-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
}
.footer__content-top-item-logo {
  margin-right: 10px;
  margin-top: 29px;
}
.footer__content-top-item-title {
  display: block;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 400;
}
.footer__content-bottom {
  display: flex;
  gap: 153px;
}
.footer__content-bottom-item {
  display: flex;
  flex-direction: column;
}
.footer__content-bottom-item-title {
  font-size: 16px;
  font-weight: 400;
  color: #838383;
}
.footer__content-bottom-item-description {
  font-size: 18px;
  font-weight: 400;
}
.footer__content-bottom-item-social {
  display: flex;
  gap: 18px;
}
.footer__content-bottom-item-social img {
  width: 30.18px;
  height: 30.18px;
}

@media (max-width: 375px) {
  .footer__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__content hr {
    margin: 30px 0;
  }
  .footer__content-top {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 1fr 0.5fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
  }
  .footer__content-top-item:nth-child(2) {
    grid-area: 3/1/4/3;
  }
  .footer__content-top-item:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  .footer__content-top-item:nth-child(4) {
    grid-area: 2/1/3/2;
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links a:nth-child(1) {
    grid-area: 1/2/3/3;
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links a:nth-child(2) {
    grid-area: 1/1/4/2;
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links a:nth-child(3) {
    grid-area: 3/2/5/3;
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links a:nth-child(4) {
    grid-area: 5/2/7/3;
  }
  .footer__content-top-item:nth-child(2) .footer__content-top-item-links a:nth-child(5) {
    grid-area: 4/1/7/2;
  }
  .footer__content-top-item-logo {
    grid-area: 1/1/2/3;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .footer__content-top-item-logo img {
    width: 70px;
  }
  .footer__content-top-item-title {
    font-size: 18px;
    font-weight: 400;
  }
  .footer__content-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .footer__content-bottom-item-title {
    font-size: 15px;
  }
  .footer__content-bottom-item-description {
    font-size: 15px;
  }
  .footer__content-bottom-item-social {
    gap: 29.82px;
  }
}

/*# sourceMappingURL=index.css.map */
